.button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.button:hover {
  background-color: #0055aa;
}