li {
	list-style: none;
}

a {
	color: #fff;
	text-decoration: none;
	font-size: 1.4rem;
}

a:hover {
	color: #66fcf1;
}

header {
	position: relative;
	padding: 0.2rem;
}

.navbar {
	width: 100%;
	height: 60px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.navbar .logo {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
}

.navbar .toggleBtn {
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

/* dropdownMenu */
.dropdownMenu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	width: 300px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	height: 0;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: 1000;
}

.dropdownMenu.open {
	height: 280px;
}

.dropdownMenu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.currentRouter {
	color: #00FFFF;
}

/* responsive */

@media(max-width: 992px) {
	.navbar .links {
		display: none;
	}

	.navbar .toggleBtn {
		display: block;
	}

	.dropdownMenu {
		display: block;
	}
}

@media(max-width: 576px) {
	.dropdownMenu {
		left: 2em;
		width: unset;
	}
}