.search {
    --pading: 14px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--pading);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 5px #f6f6f6;
}

.searchInput {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--pading);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.searchInput::placeholder {
    color: rgba(0, 0, 0, 0.25);
}